/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .container {
    width: 80%;
  }

  .title {
    width: 400px;
    height: 400px;
  }

  .title h1 {
    font-size: 30px;
  }

  .title p{
    width: 300px;
  }

  .images {
    width: 400px;
    height: 400px;
  }

  .images img {
    width: 300px;
    padding-top: 50px;
  }

  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .header-right ul {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: royalblue;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
}

  .header-right li {
    display: block;
    padding: 25px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 20px;
  }

  .menu-toggle span {
      display: flex;
  }

  .header-right ul.slide {
      opacity: 1;
      top: 55px;
      transform: translateX(0);
  }
  
  .team {
      height: 900px;
  }

  #bg-team {
    margin-top: -20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .main {
    flex-wrap: wrap;
    width: 100%;
  }

  .header-right li {
    margin-bottom: 0px;
    font-size: 15px;
    padding-left: 15px;
  }

  .header-right ul.slide {
    top: 54px;
  }

  .title {
    width: 100%;
    height: 250px;
    text-align: center;
  }

  .title p {
    width: 100%;
    font-size: 18px;
  }

  .images {
    width: 100%;
    height: 500px;
  }

  .images img {
    width: 100%;
  }

  .lesson {
    width: 100%;
  }

  .team {
    height: 1400px;
  }

  .copyright {
    padding-top: 40px;
    font-size: 15px;
  }
}
